language: node_js
sudo: false
node_js:
  - "0.12"
after_success:
  - test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "master" && npm run deploy
  - test $TRAVIS_PULL_REQUEST && npm run build-nofollow && npm run deploy-pr -- --domain pr-$TRAVIS_PULL_REQUEST.blog.losttype.surge.sh
