// Article
//
// Styles for all blog posts.
//
// Markup:
// <div class="frame {{ modifier_class }}">
//   <article class="article">
//     <header class="container article-header">
//       <h1 class="article-title">Introducing The Lost Type&nbsp;Store</h1>
//       <time date-time="Tue Dec 20 2011 12:00:00 GMT-0800 (PST)" class="article-pubdate">December 20<span class="ord">th</span>, 2011</time>
//     </header>
//     <div class="container article-contents">
//       <p>This is the first paragraph style. We’ve been talking about a Lost Type Official Store for quite some time, and we are proud to announce that our first 2 products are <a href="http://losttype.com/store/">here</a>!</p>
//       <p>This is the regular paragraph style. So pick up a book and some buttons, and help support Lost&nbsp;Type!</p>
//     </div>
//     <footer class="container article-footer">
//       <div class="author">
//         <a href="/about#rileycran" title="A post by Riley Cran" class="author-name">Riley Cran</a>
//           <a href="http://rileycran.com" class="author-avatar">
//             <img src="https://avatars.io/twitter/rileycran?size=large" async="" defer="" alt="Riley Cran’s avatar">
//           </a>
//         <a href="https://twitter.com/rileycran" class="author-twitter">@rileycran</a>
//         <a href="https://dribbble.com/xelent" class="author-dribble">@xelent</a>
//         <p class="author-bio">Riley Cran is a designer based in the Pacific Northwest with a specialty in Identity, Packaging and Illustration. He is the co-founder of the Lost Type&nbsp;Co-op.</p>
//       </div>
//     </footer>
//   </article>
// </div>
//
// Styleguide: module.article
.article {
  display: block;
  &a {
    overflow: hidden;
    position: relative;
  }

  @include media($huge) {
    margin-bottom: modular-scale(6);
  }

  // Anchor
  //
  // Less intrusive links inside articles.
  //
  // Markup:
  // <article class="article">
  //   <p>This is a first paragraph inside an article. Our first 2 products are <a href="http://losttype.com/store/">here</a>!</p>
  // </article>
  //
  // Styleguide: module.article.anchor
  a {
    color: mix($color-text, $color-primary, 50%);
    text-shadow: 1px 0 0 $color-background, -1px 0 0 $color-background, 0 0 2px $color-background;
    // background-image: linear-gradient(to bottom, transparent 85%, $color-primary 85%, transparent 87%);
  }
}

.article-list {

  .frame {
    margin-bottom: modular-scale(3);
    // &:nth-child(2n) {
    //   background-color: darken($color-background, 5%); // TODO Consolidate to .well or .panel?
    //   .media-body {
    //     padding: $gutter $gutter modular-scale(3) 0;
    //   }
    // }
  }

  .article {
    border-top: 1px solid $gray-dark;
    margin-bottom: modular-scale(2);
    &:hover {
      .media-figure {
        img {
          opacity: 1.0;
        }
      }
    }
  }

  .article-meta {
    color: $color-text;
    font-size: $font-size-xsmall;
    font-weight: 500;
    display: block;
    margin-top: 0;
    padding-top: modular-scale(-2);
    padding-right: modular-scale(-2);

    // Override default .article-meta
    @include media($mid) {
      border-bottom: 1px solid $gray;
      padding: modular-scale(-1) (parseInt($gutter) * 1rem) modular-scale(-2) (parseInt($gutter) * 1rem);
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      float: none;
      @include shift(0);
      text-align: inherit;
    }
  }

  .article-title {
    font-size: modular-scale(2);
    font-weight: 900;
    color: $color-text;
    margin-bottom: modular-scale(-2);
    @include media($mid) {
      margin-top: parseInt(modular-scale(-2)) * 1rem;
      padding-left: parseInt($gutter) * 1rem; // This seems dumb
    }
  }

  .article-excerpt {
    color: $color-text;
    font-size: $font-size-small;
    @include media($mid) {
      // padding-top: $gutter;
      padding-left: parseInt($gutter) * 1rem; // This seems dumb
    }
  }

  .media-body {
    // margin-top: modular-scale(-4);
    @include media($wide) {
      width: 52%; // TODO Why is this 52 and not 50?
    }
  }

  .media-figure {
    display: block;
    overflow: hidden;
    max-height: modular-scale(12);
    display: flex;
    margin: 0;
    border-bottom: 1px solid $gray;

    // background: $red;
    img {
      align-self: center;
      height: 100%;
      opacity: 0.9;
      // filter: grayscale(100%);
      // mix-blend-mode: multiply;
      transition: opacity 0.075s;
    }
  }

  @include media($wide) {
    @include shift(0);
    @include span-columns(14 of 11);
  }
  @include media($huge) {
    @include span-columns(12 of 11);
  }

}

// Article Banner
//
// Maybe some of this could be merged with
// `.article-list .media-figure` from above?
// The vertical media queries are only
// neede here, probably.
//
// Markup
// <div class="article-banner {{modifier_class}}">
//   <img src="/media/2014/09/hay_4.jpg" alt="">
// </div>
//
// Styleguide: module.article.article-banner
.article-banner {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  max-height: modular-scale(10); // Vertical media queries here, please!
  display: flex;
  img {
    align-self: center;
    height: 100%;
    width: 100%;
  }
  @media (min-height: 700px) and (min-width: $mid-width) {
    max-height: modular-scale(13);
  }
}

.article-contents {
  // Lead
  //
  // The lead-in paragraph for articles.
  //
  // Markup:
  // <div class="container article-contents {{ modifier_class }}">
  //   <p>This is the first paragraph style. We’ve been talking about a Lost Type Official Store for quite some time, and we are proud to announce that our first 2 products are <a href="http://losttype.com/store/">here</a>!</p>
  // </div>
  //
  // .article-contents--intro - Category intro, used in `collection.hbs`.
  //
  // Styleguide: module.article.lead
  & > p:first-of-type {
    @include media($narrow) {
      font-size: modular-scale(1);
      line-height: $base-line-height;
    }
  }
  // Editoral intro
  //
  // Blockquote classes are applied automatically.
  // If it gets more complicated than this, we should use
  // the blockquote helper to apply different classes instead.
  //
  // Markup
  // <div class="container article-contents">
  //   <blockquote class="blockquote">This morning we are proud to introduce Mr. James T. Edmondson’s third contribution to Lost Type, and man… it’s a beast. A script font in three weights, Lavanderia is an enormously complex font, with hundreds of ligatures and numerous opentype features. James was kind enough to jot down the history of the font, take it away James!</blockquote>
  //   <p>This is the first paragraph style. We’ve been talking about a Lost Type Official Store for quite some time, and we are proud to announce that our first 2 products are <a href="http://losttype.com/store/">here</a>!</p>
  // </div>
  //
  // Styleguide: module.article.editoral-intro
  .blockquote:first-child {
    &:before {
      content: "";
    }
    p:last-child {
      &:after {
        content: " —LT";
        color: $red;
        @extend .caps;
        font-style: normal;
        display: inline;
      }
    }
  }
}

.article-contents--intro {
  margin-bottom: modular-scale(5);
}


// Header
//
// Article headers.
//
// Markup:
// <header class="container article-header">
//   <h1 class="article-title">Introducing The Lost Type&nbsp;Store</h1>
//   <time date-time="Tue Dec 20 2011 12:00:00 GMT-0800 (PST)" class="article-pubdate">December 20<span class="ord">th</span>, 2011</time>
// </header>
//
// Styleguide: module.article.header
.article-header {
  margin-top: $gutter;
  @include media($mid) {
    margin-top: modular-scale(5);
  }
}

.article-title {

  @include media($wide) {
    @include span-columns(7 of 7);
    @include shift(0);
  }

}

.article-meta {
  font-size: $font-size-small;
  font-family: $font-family-caption;

  @include media($wide) {
    // Override .container
    @include span-columns(2 of 7);
    @include shift(-2 of 7);
    padding-left: $gutter/2;
    text-align: right;
    margin-top: modular-scale(-1);
  }
}

.article-metaList {

}

.article-pubdate {

}

// Article Banner
//
// Currently only used on gallery posts. Article header image.
//
// Markup:
// <header class="container article-header">
//   <img src="http://placehold.it/1200x400" alt="">
//   <h1 class="article-title">Introducing The Lost Type&nbsp;Store</h1>
//   <time date-time="Tue Dec 20 2011 12:00:00 GMT-0800 (PST)" class="article-pubdate">December 20<span class="ord">th</span>, 2011</time>
// </header>
//
// Styleguide: module.article.banner
.article-banner {
  display: block;
}

// Footer
//
// Article footer and metadata.
//
// Markup:
// <footer class="container article-footer">
//   <div class="author">
//     <a href="/about#rileycran" title="A post by Riley Cran" class="author-name">Riley Cran</a>
//     <a href="http://rileycran.com" class="author-avatar">
//       <img src="https://avatars.io/twitter/rileycran?size=large" async="" defer="" alt="Riley Cran’s avatar">
//     </a>
//     <a href="https://twitter.com/rileycran" class="author-twitter">@rileycran</a>
//     <a href="https://dribbble.com/xelent" class="author-dribble">@xelent</a>
//     <p class="author-bio">Riley Cran is a designer based in the Pacific Northwest with a specialty in Identity, Packaging and Illustration. He is the co-founder of the Lost Type&nbsp;Co-op.</p>
//   </div>
// </footer>
//
// Styleguide: module.article.footer
.article-footer {
  margin-bottom: $gutter;
  @include media($mid) {
    margin-bottom: modular-scale(5);
  }
}
