// Article
//
// Styles for all blog posts.
//
// No styleguide reference.
.article {
}

.article-contents {

  // Article Lead
  //
  // The lead-in paragraph for articles.
  //
  // No styleguide reference.
  & > p:first-of-type {
    font-size: 1.25em;
    line-height: 1.35;
  }

  // Article Links
  //
  // Less intrusive links inside articles.
  //
  // No styleguide reference.
  a {
    color: mix($color-text, $color-primary, 33%);
  }
}


.article-header {

}

.article-title {

}

.article-pubdate {

}

.article-footer {

}
