// Author
//
// Author details in an article.
//
// Styleguide: module.author
.author {

}

.author-name {

}

.author-handle {
  font-weight: normal;
  font-style: noraml;
  background-image: none;
  color: $gray-dark; // TODO Muted link style?

}

.author-social {

}

.author-bio {

}
