// Author
//
// Author details in an article.
//
// Styleguide: module.author
.author {
  font-size: $font-size-small;
  @include media($mid) {
    font-size: inherit;
  }
}

.author-name {

}

.author-avatar {
  display: block; // This fixes the no-`.media-figure` margin issue on IE
                  // (but only here, not sure if it should be in `.media-figure`)
  img {
    width: modular-scale(5);
    border-radius: 50%;
    @include media($mid) {
      width: modular-scale(7);
    }
  }
}

.author-handle,
a.author-handle {
  font-family: $font-family-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.12em; // Match x-height with Morison
  background-image: none;
  color: $gray; // TODO Muted link style?
}

.author-social {

}

.author-bio {

}
