// Footer
//
// Styleguide: module.footer
.footer {
  @include span-columns(5 of 5);

  // Temp, probably
  padding-top: modular-scale(0);
  padding-bottom: modular-scale(1);
}

// Footer Release
//
// Styleguide: module.footer.releases
.footer-releases {
  a {
    display: block;
    &:hover,
    &:focus,
    &:active {
      .shape {
        fill: $red;
      }
    }
  }
  .shape {
    transition: fill 0.125s ease-in-out; // Don’t make Ben sad
    fill: $gray-dark;
  }
  @include media($mid) {
    margin: 0 (-1 * modular-scale(0));
  }
}
