// Footer
//
// Styleguide: module.footer
.footer {
  display: block;
  height: 100%;
  width: 100%;
  clear: left;
}

// Footer Release
//
// Styleguide: module.footer.releases
.footer-releases {
  a {
    display: block;
    &:hover,
    &:focus,
    &:active {
      .shape {
        fill: $red;
      }
    }
  }
  .shape {
    transition: fill 0.125s ease-in-out; // Don’t make Ben sad
    fill: $gray-dark;
  }
  @include media($mid) {
    margin: 0 (-1 * modular-scale(0));
  }
}
