// Media
//
// Flexbox version of the media object. Used under the MIT license,
// [via Philip Walton](http://git.io/vUsKa).
//
// Markup:
// <div class="media">
//   <img class="media-figure" src="https://avatars.io/twitter/danellecheney?size=large" alt="">
//   <div class="media-body">
//     <h3>Danelle</h3>
//     <p>everyone at @losttypecoop has been VERY BUSY. exciting updates today, and there's more where that came from!</p>
//   </div>
// </div>
//
// Styleguide: module.media
.media {
  display: flex;
  align-items: flex-start;
  img {
    display: block;
  }
}

.media--collapse {
  display: block;
  @include media($wide) {
    @extend .media;
  }
}

.media-figure { // For specificity
  margin-right: $gutter;
}

.media-body {
  flex: 1;
}


// Media Constrain
//
// This class isn’t doing anything except for
// being a div to help old Safari
//
// No styleguide reference.
.media-constrain {
  width: 100%;
  align-self: center;
  height: 100%;
}
