// Navigation
//
// Styleguide: module.navigation
.nav {
  font-family: $font-family-sans;
  @include span-columns(5 of 5);
  @include omega();
  max-height: 3.5em;
  display: flex;
  align-items: center;
  background-color: $gray-lighter;
  font-size: $font-size-small;
  @include media($narrow) {
    font-size: modular-scale(0);
    padding-top: modular-scale(-4);
    padding-bottom: modular-scale(-4);

  }
  @include media($mid) {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .logo {
    align-self: center;
    margin-right: $gutter;
    height: 3.5em; // Required for Safari 6
    flex-basis: 3.5em;
    img, svg {
      width: 3.5em;
      height: 100%;
    }
  }

}

.nav-list {
  height: 4em;
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  @include span-columns(5 of 7);
  @include media($mid) {
    @include span-columns(6 of 9);
  }
}

.nav-item {
  height: 100%;
  display: flex;
  // text-transform: uppercase;
  &:before {
    content: "";
  }
}

.nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: modular-scale(-1);
  padding-top: $gutter/2;
  padding-left: modular-scale(-4);
  padding-right: modular-scale(-4);
  color: $gray-dark;
  &:hover,
  &:focus {
    color: $color-primary;
  }
}
