// Nextprev
//
// What to read next, after you’ve finished the current article.
//
// Markup: ../../../_includes/nextprev.hbs
//
// Styleguide: module.article.next
.nextprev {
  @include span-columns(5 of 5);
  display: flex;
  background-color: $gray;
}

.knockout + .nextprev {
  background-color: $gray-darker;
  @include media($huge) {
    background-color: $gray;
  }
}

.nextprev-item { // For specificity over knockout
  transition: color 0.125s ease-in-out, background-color 0.125s ease-in-out; // TODO Don’t make Ben sad
  font-family: $font-family-sans;
  color: $color-background;
  // .article-title {
  //   text-align: center;
  // }
  flex: 100%;
  width: 100%;
  @include media($mid) {
    flex: 50%;
  }
  &:link,
  &:visited {
    // Maybe make resetting the link underline
    // styles a mixin, or make a scoped include
    // of them opt-in in the first place (ex. in
    // the `.article-contents`)
    background-image: none;
    text-shadow: none;
  }
  // TODO Do something cooler with this
  &:hover,
  &:focus {
    text-shadow: none;
    color: $color-background;
    background-color: $red-dark;
  }
}

.nextprev-body {
  // @include media($huge) {
  //   // Align with frame again
  //   outline: 1px solid blue;
  //   @include span-columns(3.5 of 7);
  // }
}
