// Quote

// Blockquote
//
// .blockquote--short   - A quote less than 300 characters
// .blockquote--medium  - An average blockquote
// .blockquote--long    - A quote more than 600 characters
//
// No styleguide reference.
blockquote,
.blockquote {
  font-style: italic;
  p {
    margin: 0;
    text-indent: 0;
    & + p {
      text-indent: $gutter;
    }
  }
}

.blockquote--short {

}

.blockquote--medium {

}

.blockquote--long {

  @media (min-width: 50em) {
    width: 150%;
    min-height: 20em;
    margin-left: -25%;
    columns: 3 12em;
    column-gap: $gutter;
    column-fill: balance;
    break-inside: avoid;
  }
}

// Pullquote
//
// No styleguide reference.
[data-pullquote] {

}
