// Quote
//
// Quotation styles.
//
// Styleguide: module.quote

// Blockquote
//
// Longer-form quotes. These get additional modifier classes applied automatically
// based upon their length.
//
// Markup:
// <blockquote class="{{ modifier_class }}">You read best what you read most.
//   <footer>Zuzana Licko,
//     <cite><a href="http://www.emigre.com/Licko3.php">Emigre 15.</a></cite>
//   </footer>
// </blockquote>
//
// .blockquote--short   - A quote less than 300 characters
// .blockquote--medium  - An average blockquote
// .blockquote--long    - A quote more than 600 characters
//
// Styleguide: module.quote.blockquote
blockquote,
.blockquote {
  padding-bottom: $base-line-height * 1em;
  padding-top: $base-line-height * 1em;
  margin: 0 0 $base-line-height * 1em 0;
  border: 1px solid $gray;
  border-width: 1px 0;
  font-style: italic;
  em,
  cite {
    font-style: normal;
  }
  p {
    margin: 0;
    text-indent: 0;
    & + p {
      text-indent: $gutter;
    }
  }
}

.blockquote--short {

}

.blockquote--medium {

}

.blockquote--long {

  font-size: $font-size-small;
  line-height: 1.575;
  @include media($mid) {
    @include span-columns(9 of 7);
    @include shift(-1 of 7);
    padding-left: $gutter;
    padding-right: $gutter;
    // width: 150%;
    height: 100%;
    columns: 2 12em;
    column-gap: $gutter;
    column-fill: balance;
    break-inside: avoid;
  }
  @include media($wide) {
    @include span-columns(11 of 7);
    @include shift(-2 of 7);
    padding: $base-line-height * 1em $gutter;
    columns: 3 12em;
  }
}

// Pullquote
//
// A pullquote that omits duplicating the quote in the markup. This approach is
// entirely based upon Maykel Loomans’s [Pull quotes with HTML5 and CSS](http://miekd.com/articles/pull-quotes-with-html5-and-css/)
//
// Markup:
// <div data-pullquote="You read best what you read most"></div>
//
// Styleguide: module.quote.pullquote
[data-pullquote]:before {
  @include media($mid) {
    content: attr(data-pullquote);
    display: block;
    float: left;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25em;
    width: 40%;
    margin-right: $gutter;
    margin-bottom: $base-line-height * 1em;
    color: $color-primary;
    font-family: $font-family-sans;
  }
  @include media($mid) {
    @include span-columns(3 of 7);
    @include shift(-1 of 7);
  }
  @include media($wide) {
    font-size: 1.5em;
    @include span-columns(4 of 7);
    @include shift(-2 of 7);
  }
  @include media($huge) {
    @include span-columns(4 of 7);
    @include shift(-2 of 7);
  }

}

blockquote [data-pullquote]:before,
.blockquote [data-pullquote]:before {
  width: 100%;
  @include shift(0);
  margin-bottom: $base-line-height  * 0.5em;
  margin-top: $base-line-height  * 0.5em;
  text-align: center;
}
