// Quote

// Blockquote
//
// .blockquote--short   - A quote less than 300 characters
// .blockquote--medium  - An average blockquote
// .blockquote--long    - A quote more than 600 characters
//
// No styleguide reference.
blockquote,
.blockquote {
  padding-bottom: $base-line-height * 1.1em;
  padding-top: $base-line-height * 0.9em;
  margin: 0 0 $base-line-height * 1em 0;
  border: 1px solid $gray;
  border-width: 1px 0;
  font-style: italic;
  em,
  cite {
    font-style: normal;
  }
  p {
    margin: 0;
    text-indent: 0;
    & + p {
      text-indent: $gutter;
    }
  }
}

.blockquote--short {

}

.blockquote--medium {

}

.blockquote--long {

  font-size: $font-size-small;
  line-height: 1.575;

  @include media($mid) {
    width: 150%;
    min-height: 20em;
    margin-left: -25%;
    columns: 3 12em;
    column-gap: $gutter;
    column-fill: balance;
    break-inside: avoid;
  }
}

// Pullquote
//
// No styleguide reference.
[data-pullquote] {

}
