// Quote
//
// Quotation styles.
//
// Styleguide: module.quote

// Blockquote
//
// Longer-form quotes. These get additional modifier classes applied automatically
// based upon their length.
//
// Markup:
// <blockquote class="{{ modifier_class }}">You read best what you read most.
//   <footer>Zuzana Licko,
//     <cite><a href="http://www.emigre.com/Licko3.php">Emigre 15.</a></cite>
//   </footer>
// </blockquote>
//
// .blockquote--short   - A quote less than 300 characters
// .blockquote--medium  - An average blockquote
// .blockquote--long    - A quote more than 600 characters
//
// Styleguide: module.quote.blockquote
blockquote,
.blockquote {
  padding-bottom: $base-line-height * 1em;
  padding-top: $base-line-height * 1em;
  margin: 0 0 $base-line-height * 1em 0;
  // border: 1px solid $gray;
  // border-width: 1px 0;
  font-style: italic;
  em,
  cite {
    font-style: normal;
  }
  p {
    margin: 0;
    text-indent: 0;
    & + p {
      text-indent: $gutter;
    }
  }
}

.blockquote--short {

}

.blockquote--medium {

}

.blockquote--long {

  font-size: $font-size-small;
  line-height: modular-scale(2);
  @include media($mid) {
    @include span-columns(9 of 7);
    @include shift(-1 of 7);
    @include omega();
    padding-left: $gutter;
    padding-right: $gutter;
    width: 150%;
    height: 100%;
    columns: 2 12rem;
    column-gap: $gutter * 2;
    column-fill: balance;
    column-rule: 1px dotted $gray;
    // break-inside: avoid;
  }
  @include media($wide) {
    @include span-columns(11 of 7);
    @include shift(-2 of 7);
    @include omega();
    padding: $base-line-height * 1em $gutter;
    columns: 3 12rem;
  }
}

// Pullquote
//
// A pullquote that omits duplicating the quote in the markup. This approach is
// entirely based upon Maykel Loomans’s [Pull quotes with HTML5 and CSS](http://miekd.com/articles/pull-quotes-with-html5-and-css/)
//
// Markup:
// <div data-pullquote="You read best what you read most"></div>
//
// Styleguide: module.quote.pullquote
[data-pullquote]:before {
  @include media($mid) {
    content: attr(data-pullquote);
    display: block;
    float: left;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25em;
    width: 40%;
    margin-right: $gutter;
    margin-bottom: $base-line-height * 1em;
    color: $color-primary;
    font-family: $font-family-sans;
  }
  @include media($mid) {
    @include span-columns(3 of 7);
    @include shift(-1 of 7);
  }
  @include media($wide) {
    font-size: 1.5em;
    @include span-columns(4 of 7);
    @include shift(-2 of 7);
  }
  @include media($huge) {
    @include span-columns(4 of 7);
    @include shift(-2 of 7);
  }

}

// Pullquote in an blockquote
//
// A pullquote within an opening blockquote. This is useful for the long-form introductions
// [Riley](https://twitter.com/rileycran) adds to some posts. The additional modifier class
// (`.blockquote--long`) is applied automatically based upon the blockquote’s length.
//
// Markup:
// <blockquote class="blockquote blockquote--long">
//   <p>Often times when you know someone on the internet, no matter for how long, meeting them in person for the first time is full of anticipation. A hope that they will be the person you imagine them to be. When I met Dan Gneiding in person for the first time on a June San Francisco morning in 2012, after digitally collaborating with him online for over a year, it was in a room filled with Lost Type contributors from around the world. We shook hands, and exchanged pleasantries, but the first thing I remember him saying to me as he reached into his bag and produced eight 13×19 proofs of his new typeface, was ‘Oh I wanted to show you this. I’m sorry I only had time to finish 8 of these. My Dad had a stroke last night, but he’s tough as nails, and he’s ok’. It was at that moment that I realized that Dan Gneiding was as dedicated and prolific a person as I had come to assume that he&nbsp;was.</p>
//   <p>What I couldn’t assume at the time, was that these proofs would lead to over 2 years of development on a family of reverse contrast faces that (to my knowledge) rivals any other single reverse contrast family currently available in digital font&nbsp;form.</p>
//   <p><div data-pullquote="I’m sorry I only had time to finish 8 of these…"></div></p>
//   <p>I didn’t realize that on the mornings when I woke up at the San Francisco Field Trip to head upstairs and meet everyone else for the day, that Dan would already be awake, throwing bezier curves around, fully dressed on the couch he had volunteered to sleep on. I didn’t realize that the scope of the project would later involve scouring through cases of wood type in Brooklyn, having my hand photographed as I posed it under my desk lamp, hand painted signs above my fireplace in my apartment, crying over first screenings of a stop motion animated film or flipping through the pages of a hard cover specimen book. And I did not realize that my jesting suggestion to call this project ‘Dude’ would be taken so seriously. Dan blew me away on this project, and I was honored to watch it all happen. His most unique skill (in type design and his graphic design work) seems to be the ability to take a novelty and create something that makes you question your preconceived notions. Below, Dan has cataloged some of the landmarks of this process. Take it away,&nbsp;Dan!</p>
// </blockquote>
//
// Styleguide: module.quote.pullquote-in-a-blockquote
blockquote [data-pullquote]:before,
.blockquote [data-pullquote]:before {
  width: 100%;
  @include shift(0);
  text-align: center;
  break-inside: avoid; // Don’t spread pullquote across columns
  line-height: modular-scale(2); // Match column baseline
  margin-top: (modular-scale(2)) / 2;
  margin-bottom: (modular-scale(2)) / 2;
}
