// Utility
//
// Utility classes only have block or block and modifier styles, not element. They
// are always prefaces with `.u-`.
//
// Styleguide: module.utility

// Horisontal List
//
// Markup:
// <ul class="u-listHorizontal {{ modifier_class }}">
//   <li>Abraham Lincoln</li>
//   <li>Nelma</li>
//   <li>Tommaso</li>
//   <li>Airplane</li>
//   <li>Vevey</li>
// </ul>
//
// .u-listHorizontal--comma  - A comma-seperated list
//
// Styleguide: module.utility.listHorizontal
.u-listHorizontal {
  list-style: none;
  & > li {
    display: inline-block;
  }
}

.u-listHorizontal--comma {
  & > li {
    &:after {
      content: ",";
    }
    &:last-child {
      &:after {
        content: "";
      }
    }
  }
}

// Basic List
//
// An explicit reset class for lists.
//
// Markup:
// <ul class="u-listBasic">
//   <li>Abraham Lincoln</li>
//   <li>Nelma</li>
//   <li>Tommaso</li>
//   <li>Airplane</li>
//   <li>Vevey</li>
// </ul>
//
// Styleguide: module.utility.listBasic
.u-listBasic {
  margin: 0;
  padding: 0;
  list-style: none;
  & > li {
    list-style: none;
    &:before {
      content: "" // Remove the tabular hanging-list items
    }
  }
}

// Center utility
//
// Markup:
// <div class="u-center">From your friends at Lost Type</div>
//
// Styleguide: module.utility.center
.u-center {
  text-align: center;
}
