.fieldtripsf {
  @include theme($color-fieldtripsf);
}

.fieldtripny {
  @include theme($color-fieldtripny);
}

.fieldtripam {
  @include theme($color-fieldtripam);
}

.fieldtripchi {
  @include theme($color-fieldtripchi);
}
