.fieldtripsf {
  @include theme($color-fieldtripsf);
}

.fieldtripny {
  @include theme($color-fieldtripny);
}

.fieldtripam {
  @include theme($color-fieldtripam);
}

.fieldtripchi {
  @include theme($color-fieldtripchi);
}

.fieldtripvan {
  @include theme($color-fieldtripvan);
}

.fieldtripphl {
  @include theme($color-fieldtripphl);
}
