// Knockout
//
// Global modifier class to invert the current module’s colours.
//
// No styleguide reference.
.knockout {
  background-color: $gray-dark;
  color: darken($color-background, 5%);

  a {
    text-shadow: 1px 0 0 $gray-dark, -1px 0 0 $gray-dark, 0 0 2px $gray-dark;
    color: desaturate(mix($color-primary, white, 66%), 33%);
  }
}
