{{!-- {{#if (greaterThan (moment  diff =date) 102772800000) }} --}}
  <a class="alert" role="alert" href="/fieldtripchi">
    <p><strong>Live from Chicago!</strong> We’re on the annual Lost Type Field Trip right now. <span class="u-aFaux">Follow along here.</span></p>
  </a>
{{!-- {{/if }} --}}
