{{#if (greaterThan (moment  diff =date) 102772800000) }}
  <a class="alert" role="alert" href="https://github.com/losttype/blog.losttype.com/issues/new?title=Problem%20on%20{{title}}%20page&amp;description=Please%20describe%20the%20problem%20here.">
    <p><strong>Heads up</strong> We’re doing some major updates on the Lost Type blog, and this post is pretty old. If you think you see a mistake, please <span class="u-aFaux">report it here!</span> Thanks.</p>
  </a>
{{/if }}
