<footer class="footer knockout">
  <div class="container">
    <div class="cols">
      <div class="cols-1of3">
        <h3>New Releases</h3>
        <ul class="u-listBasic footer-releases">
          <li>
            <a href="http://losttype.com/font/?name=majesti_banner">
              {{> release-majestiBanner }}
              {{!-- <img alt="Majesti Banner" src="/images/release-majestibanner.svg"> --}}
            </a>
          </li>
          <li>
            <a href="http://losttype.com/font/?name=tommaso">
              {{> release-tommaso }}
              {{!-- <img alt="Tommaso" src="/images/release-tommaso.svg"> --}}
            </a>
          </li>
          <li>
            <a href="http://losttype.com/font/?name=liberator">
              {{> release-liberator }}
              {{!-- <img alt="Liberator" src="/images/release-liberator.svg"> --}}
            </a>
          </li>
        </ul>
      </div>
      <div class="cols-1of3">
        <h3>Store</h3>
        <img src="http://placehold.it/800x600" alt="A cool preview of something in the LT store." />
        <h3>Field Trips</h3>
        <ul>
          <li><a href="/field-trip-il" title="I fantasized ‘bout this back in Chicago">Field Trip IL</a></li>
          <li><a href="/fieldtripam" title="We went all the way to Amsterdam in 2014">Field Trip AM</a></li>
          <li><a href="/field-trip-ny" title="Relive Lost Type’s New York Field Trip">Field Trip NY</a></li>
          <li><a href="/field-trip-sf" title="Remember our first Field Trip to San Francisco">Field Trip SF</a></li>
        </ul>
      </div>
      <div class="cols-1of3">
        <h3>Elsewhere</h3>
        <ul>
          <li><a href="https://twitter.com/losttypecoop" title="Lost Type on Twitter">Twitter</a></li>
          <li><a href="https://dribbble.com/tags/losttypecoop">Dribbble</a></li>
          <li><a href="http://fontsinuse.com/foundry/263/lost-type-co-op">Fonts In Use</a></li>
          <li><a href="https://instagram.com/explore/tags/losttypecoop/">Instagram</a></li>
          <li><a href="https://github.com/losttype">GitHub</a></li>
        </ul>
        <p>See something that could be better? <a href="https://github.com/losttype/blog.losttype.com/issues/new?title=Describe the problem here&amp;body={{title}}">Suggest a change to this page.</a>
      </div>
    </div>
    <div class="cols">
      <div class="cols-3of3 u-center">
        From your friends at <a href="http://losttype.com">Lost Type</a></footer>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
