// Base
//
// Styleguide: base

html {
  font-size: 100%;
  font-family: $base-font-family;
  font-weight: 400;
  line-height: $base-line-height;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-background;
  color: $color-text;
  height: 100%;
}

body {
  font-size: $base-font-size;
  height: 100%;
  width: 100%;
  // margin-left: auto;
  // margin-right: auto;
}

// Headings
//
// Base heading styles. `.h1` through `.h6` may also be used, for when you want
// to propertly use a specific level of HTML heading while having it visually
// appear like another. Other inline elements, like `<em>`, `<code>`, and `<cite>`
// can also safely be used within headings.
//
// Markup:
// <h1>Heading 1. Address Numerals of Copenhagen</h1>
// <h2>Heading 2. <cite>Counterpunch</cite>, by Fred Smeijers</h2>
// <h3>Heading 3. Using Lost Type fonts in <abbr title="Cascading Style Sheets">CSS</abbr> with <code>@font-face</code></h3>
// <h4>Heading 4. Address Numerals of Copenhagen</h4>
// <h5>Heading 5. <cite>Counterpunch</cite>, by Fred Smeijers</h5>
// <h6>Heading 6. Using Lost Type fonts in <abbr title="Cascading Style Sheets">CSS</abbr> with <code>@font-face</code></h6>
//
// Styleguide: base.headings
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: modular-scale(-1);
  font-weight: 800;
  line-height: 1.3;
  font-family: $font-family-sans;
  em,
  cite {
    color: inherit;
    font-style: italic;
  }
  code {
    color: inherit;
    font-family: $font-family-monospace;
  }
  @include media($narrow) {
    margin-bottom: modular-scale(-2);
  }
}

h1,
.h1 {
  font-size: modular-scale(2);
  @include media($narrow) {
    font-size: modular-scale(4);
  }
  @include media($wide) {
    font-size: modular-scale(5);
  }
}

h2,
.h2 {
  font-size: modular-scale(1);
  @include media($narrow) {
    font-size: modular-scale(3);
  }
}

h3,
.h3 {
  font-size: modular-scale(1);
  @include media($narrow) {
    font-size: modular-scale(2);
  }
}

h4, h5, h6 {
  margin-bottom: $base-line-height * 0.5rem;
  line-height: $base-line-height;
  font-size: modular-scale(0);
}

// Paragraphs
//
// Base paragraph styles.
//
// Markup:
// <p>I started sketching and the basic concept of Dude began to emerge, a family where the shift is not in weight or width, but in the styling of the serifs.</p>
// <p>A key landmark in the progress of the Dude family was the Lost Type inaugural Field Trip to San Francisco. Getting the input of several members of the <span class="caps">LT</span> team was a huge leap forward in the evolution of Dude. I can’t thank all those folks enough for their feedback.</p>
//
// Styleguide: base.paragraphs
p {
  margin: 0 0 $base-line-height * 0.5em 0;
}

// Bold
//
// Default bold styles.
//
// Markup:
// <p>Included in our inaugural product lineup are <strong>The Ribbon Specimen Book</strong>, and <strong>The Official Button Kit</strong>.</p>
//
// Styleguide: base.bold
b, strong {
  font-weight: 500;
}


dt,
.caps {
  @extend abbr;
}

dd {
  padding-left: $gutter / 2;
  margin-left: $gutter;
  border-left: 1px solid;
}

// Anchors
//
// Base link styles.
//
// Markup:
// <a href="http://losttype.com">Lost Type</a>
//
// Styleguide: base.anchors
a {
  text-decoration: none;
  color: $color-primary;
  transition: color 0.125s ease-in-out; // Don’t make Ben sad
  &:hover,
  &:focus {
    color: $color-primary;
  }
  &:active {
    color: $red-dark;
  }
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

pre code,
code pre,
samp pre {
  margin: 0;
}

// Horizontal Rule
//
// Based on the `hr` reset in [html5pb](https://github.com/h5bp/html5-boilerplate/blob/85d79ed6cc33eb7ba5e156085049758f07b47fd9/dist/css/main.css#L37-L48).
// Markup:
// <hr>
//
// Styleguide: base.hr
hr {
  display: block;
  height: 1px;
  border: 0;
  border-bottom: 1px solid $gray;
  margin: $base-line-height * 1.25em auto;
  padding: 0;
  @include media($mid) {
    width: 50%;
    margin: $base-line-height * 1.75em auto;
  }
}
