// Base

html {
  font-size: 100%;
  font-family: "ff-meta-serif-web-pro";
  line-height: 1.45;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.25em;
  max-width: 35em;
  margin: 0 auto;
}

img {
  width: 100%;
}

ul {
  padding-left: 0;
}

figure {
  margin: 0;
}

.caps {
  @extend abbr;
}
