body {
  @include media($mid) {
    padding: 0 $gutter;
  }
}

// Frame
//
// No styleguide reference.
.frame {
  @include outer-container();
  padding: modular-scale(-1) modular-scale(-1) modular-scale(-1)*1.1 modular-scale(-1);
  @include media($mid) {
    // padding: $gutter $gutter $gutter * 1.1 $gutter;
    padding-left: 0;
    padding-right: 0;
  }
}

// Container
//
// No styleguide reference.
.container {
  @include span-columns(5 of 5);

  @include media($mid) {
    @include span-columns(7 of 9);
    @include shift(1 of 9);
  }
  @include media($wide) {
    @include span-columns(7 of 11);
    @include shift(2 of 11);
  }
}

// Simple Grid
//
// For those occasions where declarative
// grid classes really are the best choice,
// like in the site footer.
//
// No styleguide reference.
.cols {
  @include outer-container();
}

.cols-1of3,
.cols-2of3,
.cols-3of3 {
  @include span-columns(3 of 3);
}

@include media($mid) {
  .cols-1of3 {
    @include span-columns(1 of 3);
  }
  .cols-2of3 {
    @include span-columns(2 of 3);
  }
}

@include media($wide) {
  .cols-1of3 {
    @include span-columns(1 of 3);
  }
  .cols-2of3 {
    @include span-columns(2 of 3);
  }
}
