// Layout
//
// Styleguide: layout

// Body
//
// Layout styles for the body element. Padding is added on the left and right for
// smaller screens.
//
// Markup:
// <body>
//   <h1>The Lost Type Co-op Blog</h1>
//   <p>Welcome to the blog.</p>
// </body>
//
// Styleguide: layout.body
body {
  @include media($mid) {
    padding: 0 $gutter / 2;
  }
  @include media($wide) {
    padding: 0 $gutter;
  }
  @include media($huge) {
    padding: 0;
  }
}

// Container
//
// The outer frame and the the main container. The frame allows different sections
// to have self-contained theme styles.
//
// Markup:
// <body>
//   <div class="frame {{modifier_class}}">
//     <div class="container">
//       <h1>Introducing Klinic Slab</h1>
//       <p>We’re excited to show you our new typeface, designed by Joe Prince!</p>
//     </div>
//   </div>
// </body>
//
// .knockout - The global Knockout modifier class can be applied to frames to theme posts.
//
// Styleguide: layout.container
.frame {
  clear: left;
  @include outer-container();
  padding: 0 modular-scale(-1);
  @include media($mid) {
    // padding: $gutter $gutter $gutter * 1.1 $gutter;
    padding-left: 0;
    padding-right: 0;
  }
}

.container {
  @include span-columns(5 of 5);

  @include media($mid) {
    @include span-columns(7 of 9);
    @include shift(1 of 9);
  }
  @include media($wide) {
    @include span-columns(7 of 11);
    @include shift(2 of 11);
  }
}

// Simple Grid
//
// Very basic responsive grid helper classes. Useful those occasions where
// declarative grid classes really are the best choice. For example, we use these
// in the footer, where  establishing a grid is independent from the kind of
// content that’s being marking up. (The rest of the time, we use the
// `span-columns()` mixin within modules themselves.)
//
// Markup:
// <div class="cols">
//   <div class="cols-1of2">One of two</div>
//   <div class="cols-1of2">One of two</div>
// </div>
// <div class="cols">
//   <div class="cols-2of2">Two of two</div>
// </div>
// <div class="cols">
//   <div class="cols-1of3">One of three</div>
//   <div class="cols-1of3">One of three</div>
//   <div class="cols-1of3">One of three</div>
// </div>
// <div class="cols">
//   <div class="cols-1of3">One of three</div>
//   <div class="cols-2of3">Two of three</div>
// </div>
// <div class="cols">
//   <div class="cols-3of3">Three of three</div>
// </div>
//
// Styleguide: layout.simpleGrid
.cols {
  @include outer-container();
}

.cols-1of2 {
  @include span-columns(5 of 5);
  // @include omega;
  @include media($mid) {
    @include span-columns(4 of 8); // 4.5 of 9 causes rounding issues
  }
  @include media($wide) {
    @include span-columns(5 of 10); // 5.5  of 11 causes rounding issues
  }

}

.cols-2of2 {
  @include span-columns(2 of 2);
}

.cols-1of3,
.cols-2of3,
.cols-3of3 {
  @include span-columns(5 of 5);
  @include omega(3n);
}

@include media($mid) {
  .cols-1of3 {
    @include span-columns(3 of 9);
  }
  .cols-2of3 {
    @include span-columns(6 of 9);
  }
}

@include media($wide) {
  .cols-1of3 {
    @include span-columns(4 of 12);
  }
  .cols-2of3 {
    @include span-columns(8 of 12);
  }
}
