// Button mixin
//
// See `.button`.
//
// No styleguide reference.
@mixin button($background: $red, $highlight: desaturate(darken($background, 20%), 10%)) {
  color: lighten($color-background, 7.5%);
  text-align: center;
  font-family: $font-family-sans;
  font-weight: 900;
  border: 1px solid $background;
  background: $background;
  line-height: 1.2;
  border-radius: $base-border-radius;
  transition: color $base-transition-duration $base-transition-function, border-color $base-transition-duration $base-transition-function, background $base-transition-duration $base-transition-function, opacity $base-transition-duration $base-transition-function;
  text-shadow: none;
  &:hover,
  &:focus,
  &:active {
    color: $background;
    border-color: $highlight;
    background: $highlight;
  }
  &.button-secondary {
    color: $background;
    background: transparent;
    border: 0;
    &:hover,
    &:focus,
    &:active {
      color: $highlight;
    }
  }
}

// ParseInt
//
// For stripping the number,
// particularly from modular-scale()
//
// No styleguide reference.
@function parseInt($num) {
  @return $num / ($num * 0 + 1);
}

// Selection
//
// Prefixes must still be declared seperately.
//
// No styleguide reference.
@mixin selection($color: $color-primary, $highlight: desaturate(darken($color, 20%), 10%)) {
  @each $prefix in "::-moz-selection", "::selection" {
    #{ $prefix } {
      background-color: $color;
      color: $highlight;
      text-shadow: 0 0 0 transparent;
    }
  }
}

// Theme
//
// For the Field Trips. Override the primary
// colours in promininet places to create
// a theme with a colour variant.
//
// No styleguide reference.
@mixin theme($color: $color-primary, $highlight: desaturate(darken($color, 20%), 10%)) {
  @include selection($color, $highlight);
  a,
  .article a,
  .article .u-aFaux {
    color: $color;
    &:hover,
    &:focus,
    &:active {
      color: $highlight;
    }
  }
  .button,
  a.button {
    @include button($color);
  }
  [data-pullquote]:before {
    color: $color;
  }
}
