// Button mixin
//
// See `.button`.
//
// No styleguide reference.
@mixin button($background: $red, $highlight: desaturate(darken($background, 20%), 10%)) {
  color: lighten($color-background, 7.5%);
  text-align: center;
  font-family: $font-family-sans;
  font-weight: 900;
  border: 1px solid $background;
  background: $background;
  line-height: 1.2;
  border-radius: $base-border-radius;
  transition: color $base-transition-duration $base-transition-function, border-color $base-transition-duration $base-transition-function, background $base-transition-duration $base-transition-function, opacity $base-transition-duration $base-transition-function;
  &:hover,
  &:focus,
  &:active {
    color: $background;
    border-color: $highlight;
    background: $highlight;
  }
  &.button-secondary {
    color: $background;
    background: transparent;
    border: 0;
    &:hover,
    &:focus,
    &:active {
      color: $highlight;
    }
  }
}

// ParseInt
//
// For stripping the number,
// particularly from modular-scale()
//
// No styleguide reference.
@function parseInt($num) {
  @return $num / ($num * 0 + 1);
}
