// Shame
//
// If you don’t know what to do, put the CSS here and tag
// [@kennethormandy](https://github.com/kennethormandy) in your commit, he will
// figure it out.
//
// Regardless, everything in here should be **very** well commented, regarding
// where it is being used and what it is accomplishing. (Otherwise: 😭)
//
// Styleguide: shame


// Disretionary Widows
//
// Currently hard-coded into typogr.js, [more details there](https://github.com/ekalinin/typogr.js/pull/26).
//
// Markup:
// <!-- Note this span is added automatically by typogr.js -->
// <h1>There’s a new serif in<span class="widont">&nbsp;</span>town</h1>
//
// Styleguide: shame.widont
.widont {
  display: inline-block;
  @include media($wide) {
    display: inline;
  }
}

h1 .widont {
  @include media($wide) {
    display: inline-block;
  }
  @include media($huge) {
    display: inline;
  }
}

// Ord
// .ord {
//   @extend sup;
// }

// Used on the archive page
tbody {
  font-feature-settings: "kern" 1, "liga" 0, "calt" 1, "pnum" 0, "tnum" 1, "onum" 1, "lnum" 0, "zero" 0;
}

.instagram {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: modular-scale(5);
  li {
    flex: 0 0 33.33%;
    @include media($mid) {
      flex: 0 0 25%;
    }
    @include media($wide) {
      flex: 0 0 20%;
    }
  }
  li img {
    display: block;
  }
}

.article-sidebar {
  @include span-columns(5 of 5);
}



// Article Flex Ordering
// .container--flex {
//   @include media($wide) {
//     display: flex;
//     flex-direction: row-reverse;
//     flex-wrap: nowrap;
//     flex-flow: space-between;
//     align-items: flex-start;
//     width: 110%;
//     // max-width: $max-width;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }
//
// .article-list {
//
//   @include media($wide) {
//     flex-order: 2;
//     width: 100%;
//     margin: 0;
//     float: none;
//   }
// }
//
// .article-sidebar {
//
//   @include media($wide) {
//     padding-left: $gutter;
//     padding-right: $gutter;
//     flex-order: 1;
//     width: 35%;
//
//
//     font-size: $font-size-small;
//     @include span-columns(3 of 11);
//     @include shift(-16 of 11);
//   }
//   @include media($huge) {
//     @include span-columns(4 of 11);
//     @include shift(-3 of 11);
//   }
// }
