// Shame
//
// If you don’t know what to do, put the CSS here and tag
// [@kennethormandy](https://github.com/kennethormandy) in your commit, he will
// figure it out.
//
// Regardless, everything in here should be **very** well commented, regarding
// where it is being used and what it is accomplishing. (Otherwise: 😭)
//
// Styleguide: shame


// Disretionary Widows
//
// Currently hard-coded into typogr.js, [more details there](https://github.com/ekalinin/typogr.js/pull/26).
//
// Markup:
// <!-- Note this span is added automatically by typogr.js -->
// <h1>There’s a new serif in<span class="widont">&nbsp;</span>town</h1>
//
// Styleguide: shame.widont
.widont {
  display: inline-block;
  @include media($wide) {
    display: inline;
  }
}

// Used on the archive page
tbody {
  font-feature-settings: "kern" 1, "liga" 0, "calt" 1, "pnum" 0, "tnum" 1, "onum" 1, "lnum" 0, "zero" 0;
}
