@charset "UTF-8";

// Variables

$base-font-size: 1.43em;
$base-line-height: 1.4;

// Fonts
$font-size-small: 0.8rem;

// Modular Scale
$modular-scale-base: 1em;
$modular-scale-ratio: $golden;

// Grid
//
// Documented at http://neat.bourbon.io
//
// No styleguide reference.
$column: modular-scale(3) !global;
$gutter: modular-scale(1);
$grid-columns: 9;
$max-width: 32em;
$visual-grid: true !global;
$visual-grid-index: front !global;

// Colors

// Grays
$gray-dark: #323232;

// Reds
$red: #E85623;

$color-background: #FFFEFE;
$color-primary: #E85623;
$color-text: #36201A;
$color-border: #36201A; // Change this

// Figures
//
// Documented at https://github.com/kennethormandy/figment
//
// No styleguide reference.
$fig-numbered: false;
$fig-border-color: $color-border;
$fig-bg-color: $color-background;
$fig-container: $max-width;
$fig-gutter: $gutter;
$fig-outer: 0;
$fig-line-height: $base-line-height;
$fig-col-width: $column;
$fig-font-size-sm: $font-size-small;
