@charset "UTF-8";

// Variables

$base-font-size: 1.43em;
$base-line-height: 1.55;

// Fonts
$font-size-small: 0.8em;

// Modular Scale
$modular-scale-base: 1em;
$modular-scale-ratio: $major-third;

// Grid
//
// Documented at http://neat.bourbon.io
//
// No styleguide reference.
$column: modular-scale(3) !global;
$gutter: modular-scale(1);
$grid-columns: 11;
$max-width: em(834);
$visual-grid: false !global;
$visual-grid-index: front !global;

// Breakpoints
//
// No styleguide reference.
$narrow-col: 5;
$narrow-width: em(550);
$narrow: new-breakpoint(min-width $narrow-width $narrow-col);

$mid-col: 9;
$mid-width: em(745);
$mid: new-breakpoint(min-width $mid-width $mid-col);

$wide-col: 11;
$wide-width: em(990);
$wide: new-breakpoint(min-width $wide-width $wide-col);

$huge-col: $wide-col;
$huge-width: $wide-width + ($gutter * 10);
$huge: new-breakpoint(min-width $huge-width $huge-col);

// Fonts
//
// Font Stack Still Matter.
//
// No styleguide reference.
$font-family-sans:      "Moriston", "Avenir Next", "AvenirNext-SemiBold", "Futura-Medium", Futura, "Futura Std", "Trebuchet MS", Helvetica, Arial, sans-serif;
$font-family-serif:     "ff-meta-serif-web-pro", Georgia, serif;
// $font-family-display: "Majesti Banner", "Didot-Bold", Didot, "Didot LT STD", "Bodoni MT", Garamond, "Times New Roman", serif;
$font-family-display:    $font-family-sans;
$font-family-caption:    $font-family-serif;
$font-family-monospace: "Codee Mono", "Source Code Pro", "Monaco", monospace, monospace;
$base-font-family:       $font-family-serif;



// Colors

// Grays
$gray-darker: #323232;
$gray-dark: #515151; // Lost Type’s gray
$gray: mix(orange, #CCC, 5%);
$gray-light: mix(#FFF, $gray, 10%);
$gray-lighter: mix(#FFF, $gray, 20%);

// Reds
$red: #E85623;
$red-dark: darken($red, 5%);

$color-background: #FAF9F7;
$color-primary: $red;
$color-text: #303030;
$color-border: $gray;

// Figures
//
// Documented at https://github.com/kennethormandy/figment
//
// No styleguide reference.
$fig-numbered: false;
$fig-border-color: $color-border;
$fig-bg-color: $color-background;
$fig-container: em(800); // The max .container width, rather than the $max-width
$fig-gutter: $gutter;
$fig-outer: 0;
$fig-line-height: $base-line-height;
$fig-col-width: $column;
$fig-font-size-sm: 0.65em;
