@charset "UTF-8";

@font-face {
  font-family: "Prospectus";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/Prospectus-Regular1208.woff")  format("woff"),
       url("/fonts/Prospectus-Regular1208.woff2") format("woff");
}

@font-face {
  font-family: "Prospectus";
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/Prospectus-Italic1208.woff")  format("woff"),
       url("/fonts/Prospectus-Italic1208.woff2") format("woff");
}

@font-face {
  font-family: "Prospectus";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/Prospectus-Bold1208.woff")  format("woff"),
       url("/fonts/Prospectus-Bold1208.woff2") format("woff");
}

@font-face {
  font-family: "Prospectus";
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/Prospectus-Black1208.woff")  format("woff"),
       url("/fonts/Prospectus-Black1208.woff2") format("woff");
}
