body {
  font-size: 1.25em;
  max-width: 35em;
  margin: 0 auto;
}

img {
  width: 100%;
}

ul {
  padding-left: 0;
}

figure {
  margin: 0;
}

// Base
// @include "base";

// Layout
// @include "layout";

// Module
@import "module/article";
@import "module/author";

// State
// @include "state";

// Theme
// @include "theme";
